<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vedeng.dao.operate.OperateLogMapper" >
  <resultMap id="BaseResultMap" type="com.vedeng.model.operate.OperateLog" >
    <id column="OPERATE_LOG_ID" property="operateLogId" jdbcType="INTEGER" />
    <result column="OPERATE_LOG_NAME" property="operateLogName" jdbcType="VARCHAR" />
    <result column="OPERATE_MODEL_ID" property="operateModelId" jdbcType="INTEGER" />
    <result column="OPERATE_MODEL_NAME" property="operateModelName" jdbcType="VARCHAR" />
    <result column="OPERATE_LOG_TYPE" property="operateLogType" jdbcType="BIT" />
    <result column="ACCESS_IP" property="accessIp" jdbcType="VARCHAR" />
    <result column="ACCESS_TIME" property="accessTime" jdbcType="BIGINT" />
    <result column="ACCESS_UA" property="accessUa" jdbcType="VARCHAR" />
    <result column="OPERATE_USER_ID" property="operateUserId" jdbcType="INTEGER" />
    <result column="OPERATE_USER_NAME" property="operateUserName" jdbcType="VARCHAR" />
    <result column="OPERATE_RESULT" property="operateResult" jdbcType="BIT" />
    <result column="OPERATE_PARAMS" property="operateParams" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    OPERATE_LOG_ID, OPERATE_LOG_NAME, OPERATE_MODEL_ID, OPERATE_MODEL_NAME, OPERATE_LOG_TYPE, 
    ACCESS_IP, ACCESS_TIME, ACCESS_UA, OPERATE_USER_ID, OPERATE_USER_NAME, OPERATE_RESULT, 
    OPERATE_PARAMS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_OPERATE_LOG
    where OPERATE_LOG_ID = #{operateLogId,jdbcType=INTEGER}
  </select>
  
  <insert id="insertSelective" parameterType="com.vedeng.model.operate.OperateLog" >
    insert into T_OPERATE_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operateLogId != null" >
        OPERATE_LOG_ID,
      </if>
      <if test="operateLogName != null" >
        OPERATE_LOG_NAME,
      </if>
      <if test="operateModelId != null" >
        OPERATE_MODEL_ID,
      </if>
      <if test="operateModelName != null" >
        OPERATE_MODEL_NAME,
      </if>
      <if test="operateLogType != null" >
        OPERATE_LOG_TYPE,
      </if>
      <if test="accessIp != null" >
        ACCESS_IP,
      </if>
      <if test="accessTime != null" >
        ACCESS_TIME,
      </if>
      <if test="accessUa != null" >
        ACCESS_UA,
      </if>
      <if test="operateUserId != null" >
        OPERATE_USER_ID,
      </if>
      <if test="operateUserName != null" >
        OPERATE_USER_NAME,
      </if>
      <if test="operateResult != null" >
        OPERATE_RESULT,
      </if>
      <if test="operateParams != null" >
        OPERATE_PARAMS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operateLogId != null" >
        #{operateLogId,jdbcType=INTEGER},
      </if>
      <if test="operateLogName != null" >
        #{operateLogName,jdbcType=VARCHAR},
      </if>
      <if test="operateModelId != null" >
        #{operateModelId,jdbcType=INTEGER},
      </if>
      <if test="operateModelName != null" >
        #{operateModelName,jdbcType=VARCHAR},
      </if>
      <if test="operateLogType != null" >
        #{operateLogType,jdbcType=BIT},
      </if>
      <if test="accessIp != null" >
        #{accessIp,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null" >
        #{accessTime,jdbcType=BIGINT},
      </if>
      <if test="accessUa != null" >
        #{accessUa,jdbcType=VARCHAR},
      </if>
      <if test="operateUserId != null" >
        #{operateUserId,jdbcType=INTEGER},
      </if>
      <if test="operateUserName != null" >
        #{operateUserName,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null" >
        #{operateResult,jdbcType=BIT},
      </if>
      <if test="operateParams != null" >
        #{operateParams,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vedeng.model.operate.OperateLog" >
    <!--          -->
    update T_OPERATE_LOG
    <set >
      <if test="operateLogName != null" >
        OPERATE_LOG_NAME = #{operateLogName,jdbcType=VARCHAR},
      </if>
      <if test="operateModelId != null" >
        OPERATE_MODEL_ID = #{operateModelId,jdbcType=INTEGER},
      </if>
      <if test="operateModelName != null" >
        OPERATE_MODEL_NAME = #{operateModelName,jdbcType=VARCHAR},
      </if>
      <if test="operateLogType != null" >
        OPERATE_LOG_TYPE = #{operateLogType,jdbcType=BIT},
      </if>
      <if test="accessIp != null" >
        ACCESS_IP = #{accessIp,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null" >
        ACCESS_TIME = #{accessTime,jdbcType=BIGINT},
      </if>
      <if test="accessUa != null" >
        ACCESS_UA = #{accessUa,jdbcType=VARCHAR},
      </if>
      <if test="operateUserId != null" >
        OPERATE_USER_ID = #{operateUserId,jdbcType=INTEGER},
      </if>
      <if test="operateUserName != null" >
        OPERATE_USER_NAME = #{operateUserName,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null" >
        OPERATE_RESULT = #{operateResult,jdbcType=BIT},
      </if>
      <if test="operateParams != null" >
        OPERATE_PARAMS = #{operateParams,jdbcType=VARCHAR},
      </if>
    </set>
    where OPERATE_LOG_ID = #{operateLogId,jdbcType=INTEGER}
  </update>
</mapper>